<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Server API</title>
</head>
<body>
    <div style="display: flex; flex-direction: column">
        @ViewBag.Text
        <a href="@ViewBag.Href" target="_blank">Swagger</a>
    </div>
</body>
</html>